<hr />
<footer>
  <div class="container">
    <div class="row">

      <div class="col xs12 md center-xs end-md">
        <ul>
          <li>
            {{link-to 'Guides' 'guides'}}
          </li>
          <li>
            <a href="https://github.com/willviles/ember-cli-markdown-resolver" target="_blank">
              GitHub
            </a>
          </li>
        </ul>
      </div>

      <div class="col xs12 md center-xs start-md last-xs first-md">
        <small>
          2017 - Ember CLI Markdown Resolver.<br/>
          Made for the awesome Ember.js community by <a href="https://www.willviles.com" target="_blank" class="font-header color-hover-red">Will Viles</a>.
        </small>
      </div>

    </div>
  </div>
</footer>
