<hr />
<footer>
  <div class="container">
    <div class="row">

      <div class="col xs12 md center-xs end-md">
        <ul>
          <li>
            {{link-to 'Guides' 'guides'}}
          </li>
          <li>
            <a href="https://github.com/willviles/ember-cli-markdown-resolver" target="_blank">
              GitHub
            </a>
          </li>
          <li>
            <a href="https://www.willviles.com" target="_blank">
              Author
            </a>
          </li>
        </ul>
      </div>

      <div class="col xs12 md center-xs start-md last-xs first-md">
        <small>2017 Ember CLI Markdown Resolver</small>
      </div>

    </div>
  </div>
</footer>
