{{#unless noContent}}
  {{link-to item.attributes.title linkTo itemPath}}
{{else}}
  <a tabindex="0">{{item.attributes.title}}</a>
{{/unless}}

{{#if item.children}}
  <ul>
    {{#each item.children as | child |}}
      <li>
        {{markdown-menu-item item=child treePath=treePath linkTo=linkTo}}
      </li>
    {{/each}}
  </ul>
{{/if}}
