[data-section="index"] {
  img {
    width: 66%;
    max-width: 480px;
    min-width: 320px;
  }
}

.valign-section {
  display: flex;
  height: 100vh;
  padding: 0 0 0 0 !important;
  & > div {
    margin: auto;
  }
}
